body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}
.navbar{
    background-image: linear-gradient(#F8EFBA , #ffb79a);
}
.food_network{
    float: left;
    margin: 0;
    padding: 0;
    color:#182C61;
    font-size: 30px;
    margin-left: 10%;
    padding: 8px 16px;
    font-weight: 600;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-bottom: 15px
  }
  
  li {
    float: right;
    margin-right: 10%;
  }
  
  li a {
    display: block;
    color: #2C3A47;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(0, 184, 184);
  }

  .first_sec{
    display: flex;
    background-image: url(images/shapes/Frame\ 57.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
.second_sec{
    display: flex;
    background-image:url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.third_sec{
    margin-bottom: 80px;
}
.fourth_sec{
    display: flex;
    margin-bottom: 80px;
    width: 90%;
    border: 0px solid;
    text-align: center;
    box-shadow: 5px 10px 8px 10px #fde0d4;
    border-radius: 15px;
    margin-left: 5%;
    background-color: #ffb79a ;
}
h1{
    font-size: 60px;
    color: rgb(184, 174, 174);
}
span{
    color: rgb(3, 129, 119);
}
.p1{
    font-size: 20px;
    color: gray;
    margin: 10px 0px;
}

.text1{
    width: 45%;
    float: left;
    padding: 5px;
    margin-left: 5%;
    padding-left: 2%;

}
.pic1{
    width: 45%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.pic1 img{
    width: 90%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 200;
    font-size: 20px;
    padding: 15px 30px;
    border-radius: 30px;
    position: absolute;
    margin-top: 20px;
    border: 1px solid;
    box-shadow: 5px 10px 18px #ffad77;
}

.pic2{
    width: 45%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.pic2 img{
    width: 90%;
}
.text2{
    width: 45%;
    float: left;
    padding: 5px;
    margin-left: 5%;
    padding-left: 2%;
}
.text1 a{
    margin-top: 50px;
}
.text2 a{
    margin-top: 60px;
}

.recipies{
    text-align: center;
    margin-bottom: 50px;
}
.recipies_box{
    display: flex;
}
.recipies_box img{
    width: 100%;
    float: left;
    margin-bottom: 25px;
}
.box{
    width: 23%;
    float: left;
    padding: 15px;
    margin-left: 6%;
    border: 0px solid;
    box-shadow: 5px 10px 8px 10px #e4e1e1;
    border-radius: 20px;
}
h3{
    padding-top: 15px;
    font-size: 30px;
    font-weight: 100px;
}
.box_p{
    font-size: 20px;
}
.rating{
    float: left;
    margin-left: 17%;
}
.rating p{
    color:darkred;
}
footer{
    background-color: #422009;
    text-align: center;
    padding: 20px 0px;
}
footer h2{
    color: rgb(148, 148, 148);
}
footer p{
    color: rgb(244, 252, 138);
}

